* {
    margin: 0;
}

.highlight-span {
    background-color: rgb(179, 255, 0);
}

.remove-button {
    cursor: pointer;
    font-size: xx-small;
    margin-left: 4px;
}

.top10-item {
    cursor: pointer;
    padding: 9px;
}